[Unit]
Description=Music Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/music-server/server
ExecStart=/root/music-server/server/music-server
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=PORT=80
Environment=CLOUDINARY_CLOUD_NAME=drenighdk
Environment=CLOUDINARY_API_KEY=258123598675934
Environment=CLOUDINARY_API_SECRET=1rPYRCyxVPm9u8LoN5VPZkdu3LM

[Install]
WantedBy=multi-user.target 